.works-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 1.2rem;
}

.works-container h1 span{
    color: #fdb448;
}

.works-item{
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.works-item img{
    width: 100%;
    height: 100%;
    opacity: 1;
}

.works-item .text{
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    cursor: pointer;
}

.works-item:hover img{
    /* border: 1px solid #333; */
    transform: scale(1.1);
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    opacity: 0.3;
}

.works-item:hover .text{
    opacity: 1;
    transition: all 0.5s ease;
}



.works-item a{
    text-decoration: none;
    color: #313638;
    font-size: 1.5rem;
}

/* Media query */

@media (min-width: 768px){
     .works-list-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
     }
     .works-item{
        width: 30%;
        margin: 10px;
        height: 13rem;
     }
}